.the_homies{
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
}

.pfp{
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
}

#main_title {
    background-color: orange;
    font-family: "Caacupe One", sans-serif;
    font-weight: 100;
    font-style: italic;
}
